.welcome img{
    max-width: 50vw;
    height: auto;
    border-radius: 30px;
}
.rehab img {
    max-width: 50vw;
    height: auto;
    border-radius: 30px;
}
.bossoutside img {
    max-width: 50vw;
    height: auto;
    border-radius: 30px; 
}
.goodsex img {
    max-width: 50vw;
    height: auto;
    border-radius: 30px;
}
.goldmines img {
    max-width: 50vw;
    height: auto;
    border-radius: 30px; 
}
.championship img {
    max-width: 50vw;
    height: auto;
    border-radius: 30px; 
}